#banner {
    background: url(banners/home-banner.png) no-repeat center/cover; 
    padding-top: 419px;
    padding-bottom: 24px;
}
#banner .wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#banner .mountain {
    width: 100%;
    max-width: 343px;
    margin-bottom: 10px;
}
#banner .explore {
    background-color:rgb(var(--color-white)) ;
    color: rgb(var(--color-primary));
    font-size: 36px;
    font-weight: 500;
    padding: 20px 11px 15px 11px;
    border-radius: 6px;
    transition: 3s;
}
#banner .explore:hover {
    background: rgb(var(--color-primary));
    color: rgb(var(--color-white));
}



#notice {
    margin-top: 37px;
}

#notice .wrapper {
    gap: 43px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#notice .left {
    background: rgb(var(--color-primary));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 193px;
    padding-bottom: 109px;
}

#notice .left h2 {
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 36px;
    color: rgb(var(--color-white));
    margin-top: 10px;
    margin-bottom: 16px;
}