#banner {
    background: url(banners/home-banner.png) no-repeat center/cover; 
    padding-top: 419px;
    padding-bottom: 24px;
}
#banner .wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#banner .mountain {
    width: 100%;
    max-width: 343px;
    margin-bottom: 10px;
}
#banner .explore {
    background-color:rgb(var(--color-white)) ;
    color: rgb(var(--color-primary));
    font-size: 36px;
    font-weight: 500;
    padding: 20px 11px 15px 11px;
    border-radius: 6px;
    transition: 3s;
}
#banner .explore:hover {
    background: rgb(var(--color-primary));
    color: rgb(var(--color-white));
}



#notice {
    margin-top: 37px;
}

#notice .wrapper {
    gap: 43px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#notice .left {
    background: rgb(var(--color-primary));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 193px;
    padding-bottom: 109px;
}

#notice .left h2 {
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 36px;
    color: rgb(var(--color-white));
    margin-top: 10px;
    margin-bottom: 16px;
}
#notice .mountain {
    max-width: 100%;
    width: 600px;
}

#notice .slogan {
    max-width: 90%;
    width: 600px;
}

#notice .right {
    background: url('banners/mountain.png') no-repeat center/cover;
}

#notice .right .right-wrapper {
    padding: 30px;
    display: flex;
    align-items: end;
    background: rgba(var(--color-primary), 40%);
    height: 100%;
}

#notice .right .actions {
    display: flex;
    gap: 34px;
}
#notice .right a {
    font-size: 32px;
    font-weight: 500;
    padding: 26px 30px;
    background: rgb(var(--color-white));
    border-radius: 6px;
    color: rgb(var(--color-primary));
    transition: .3s;
}

#notice .right a:hover {
    background: rgb(var(--color-primary));
    color: rgb(var(--color-white));
}




#newSeason {
    margin-top: 46px;
    margin-bottom: 60px;
}

#newSeason > .title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: rgb(var(--color-primary));
    padding-bottom: 23px;
}

#newSeason .product {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#newSeason .products-slider {
    position: relative;
}

#newSeason .products-slider-btn-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

#newSeason .products-slider-btn-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
}