@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('navbar.css');
@import url('footer.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

:root {
    --color-primary: 2, 30, 37;
    --color-white: 255, 255, 255;
    --color-dark: 0, 0, 0;

    --font-primary: 'Mohave', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}
body {
    font-family: var(--font-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
}

img {
    display: inline-block;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


.swiper-slide {
    height: auto;
}
/*sm*/
@media (min-width: 640px) {
    

    .container {
        max-width: 640px;
    }
}


/*md*/
@media (min-width: 768px) {

    .container {
        max-width: 768px;
    }
}


/*lg*/
@media (min-width: 1024px) {

    .container {
        max-width: 1024px;
    }
}


/*xl*/
@media (min-width: 1280px) {

    .container {
        max-width: 1280px;
    }
}


/*2xl*/
@media (min-width: 1536px) {

    .container {
        max-width: 1536px;
    }
}