@import url('breadcrumb.css');
#topHeader {
    background: rgb(var(--color-primary));
    padding: 12px 0;
}

#topHeader .header-parent {
    display: flex;
    gap: 15px;
    align-items: center;
}

#topHeader .header-parent button:hover, #topHeader .header-parent a:hover {
    scale: 1.05;
} 

#topHeader button img, #topHeader a img {
    width: 24px;
}

header.has-divider {
    border-bottom: 2px solid rgb(var(--color-primary));
}
#navbar {
    padding-top: 12px;
    padding-bottom: 10px;
    background: rgb(var(--color-white));
}

#navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo img {
    width: 120px;
}

#navbar .menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

#navbar .link, .sidebar .link {
    font-size: 24px;
    color: rgb(var(--color-dark));
    display: block;
    position: relative;
}

#navbar .link::after, .sidebar .link::after {
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: '';
    background: rgb(var(--color-dark));
    position: absolute;
    transition: .3s;
}

#navbar .link:hover::after, .sidebar .link:hover::after {
    width: 100%;;
}
#navbar .link.icon {
    width: 30px;
}

#navbar .link.icon::after {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    background: rgb(var(--color-white));
    height: 100dvh;
    transition: .4s;
    max-width: 100%;
    z-index: 99;
}

.sidebar.active {
    right: 0px;
}

.sidebar .header {
    padding: 15px;
}

.sidebar .menu-mobile {
    padding: 15px;
}

.sidebar .menu-mobile .link {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(var(--color-dark), 0.05);
}

.sidebar .menu-mobile .icon {
    margin-top: 20px;
    border-bottom: none;
}

#navbar .sidebar-button {
    display: none;
    margin-left: 10px;
}
@media (max-width: 639px) {

    #topHeader {
        padding: 8px 0;
    }

    #topHeader button img, #topHeader a img {
        width: 18px;
    }

    #navbar .logo img {
        width: 80px;
    }

    #navbar .menu {
        gap: 10px;
    }

    #navbar .menu .link {
        display: none;
        align-items: center;
    }

    #navbar .menu .link.icon img {
        width: 24px;
    }

    #navbar .menu .link.small-screen {
        display: inline-block;
    }

    #navbar .sidebar-button {
        display: inline-block;
    }
}
@media (max-width: 767px) and (min-width: 640px) {

    #topHeader {
        padding: 8px 0;
    }

    #topHeader button img, #topHeader a img {
        width: 18px;
    }

    #navbar .logo img {
        width: 80px;
    }

    #navbar .menu {
        gap: 10px;
    }

    #navbar .menu .link {
        display: none;
        align-items: center;
    }

    #navbar .menu .link.icon img {
        width: 24px;
    }

    #navbar .menu .link.small-screen {
        display: inline-block;
    }

    #navbar .sidebar-button {
        display: inline-block;
    }
}