.product a {
    display: block;
}

.product .preview {
    display: block;
}

.product .image {
    display: block;
    overflow: hidden;
} 

.product .image img {
    display: block;
    width: 100%;
    transition: .4s transform;
}

.product .sizes {
    display: block;
    padding: 6px 7px 4px 7px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background: rgb(var(--color-primary));
}

.product .sizes .unavailable {
    text-decoration: line-through;
}

.product .info {
    display: block;
}

.product a:hover .info span {
    text-decoration: underline;
}

.product a:hover img {
    transform: scale(1.05) rotate(-2deg);
}

.product .name, .product .price {
    font-weight: 600;
    font-size: 24px;
    color: rgb(var(--color-dark));
    margin-top: 5px;
}

.product .description {
    font-weight: 400;
    font-size: 20px;
    color: rgb(var(--color-dark));
    margin-top: 5px;
}

.product .info span {
    display: block;
    text-align: center;
    width: 100%;
}
#detailsGallery img { max-width: 100%; height: auto; display: block; }
