#productDetails .wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 100px;
}

#productDetails .preview {
    grid-column: span 4 / span 4;
}

#productDetails .images {
    display: grid;
    gap: 35px 43px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#productDetails .images a {
    display: block;
    overflow: hidden;
}

#productDetails .images img {
    width: 100%;
    display: block;
    transition: .4s transform;
}
#productDetails .images a:hover img {
    transform: scale(1.05) rotate(-2deg);
}

#productDetails .show-more {
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

#productDetails .show-more button {
    display: inline-block;
    padding: 0 56px 12px 56px;
    border-bottom: 2px solid rgb(var(--color-primary));
    font-size: 32px;
    font-family: var(--font-primary);
    color: rgb(var(--color-primary));
    font-weight: 500;
}

#productDetails .details {
    grid-column: span 2 / span 2;
    color: rgb(var(--color-primary));
}

#productDetails .details h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 12px;
}

#productDetails .best-seller-badge {
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    display: inline-block;
    border-left: 2px solid rgb(var(--color-primary));
}

#productDetails .rating {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#productDetails .rating img {
    width: 26px;
    display: inline-block;
}

#productDetails .short-description {
    margin-top: 27px;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 17px;
    border-bottom: 2px solid rgb(var(--color-primary));
    margin-bottom: 18px;
}

#productDetails .price {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 54px;
    border-bottom: 2px solid rgb(var(--color-primary));
}

#productDetails .color-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 14px;
}

#productDetails .color-options {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 32px;
}

#productDetails .color-options input {
    display: none;
}

#productDetails .color-options label {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 6px;
    border: 2px solid rgb(var(--color-primary));
    cursor: pointer;
}

#productDetails .color-options label span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5px;
}

#productDetails .color-options input:checked ~ span::after {
    content: '✓';
    font-size: 25px;
    color: white;

}

#productDetails .size {
    margin-top: 45px;
    margin-bottom: 24px;
}

#productDetails .size-title {
    font-size: 24px;
    font-weight: 500;
}

#productDetails .size-options {
    display: flex;
    gap: 10px;
    margin-top: 19px;
}

#productDetails .size-options input {
    display: none;
}
#productDetails .size-options label span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(var(--color-primary));
    color: rgb(var(--color-white));
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

#productDetails .size-options input:disabled ~ span {
    text-decoration: line-through;
    cursor: not-allowed;
}

#productDetails .size-options input:checked ~ span {
    outline: 2px solid rgb(var(--color-primary));
    outline-offset: 3px;
}

#productDetails .size .guide {
    margin-top: 35px;
}

#productDetails .size .guide a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(var(--color-primary));
    text-decoration: underline;
    transition: .4s;
}

#productDetails .size .guide a:hover {
    letter-spacing: .4px;
}
#productDetails .add-to-cart {
    border: 2px solid rgb(var(--color-primary));
    border-left: none;
    border-right: none;
    padding-top: 26px;
    padding-bottom: 28px;
}
#productDetails .add-to-cart button {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 9px;
    font-size: 36px;
    font-family: var(--font-primary);
    font-weight: 500;
    color: rgb(var(--color-white));
    background: rgb(var(--color-primary));
    border: 2px solid rgb(var(--color-primary));
    transition: .4s color;
}

#productDetails .add-to-cart button:hover {
    background: rgb(var(--color-white));
    color: rgb(var(--color-primary));
}

#productDetails .delivery {
    padding-top: 93px;
    font-size: 24px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(var(--color-primary));
}
#productDetails .delivery-title {
    font-size: 24px;
    font-weight: 500;
}

#productDetails .detailed-description {
    margin-top: 73px;
    margin-bottom: 150px;
}

#productDetails .detailed-description h3 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(var(--color-primary));
}

#productDetails .detailed-description .description {
    font-size: 24px;
    color: rgb(var(--color-primary));
    font-weight: 500;
}

@media (max-width: 639px) {
    #productDetails .wrapper {
        display: block;
    }

    #productDetails .images {
        gap: 10px 10px;
    }

    #productDetails .show-more {
        margin-top: 20px;
    }

    #productDetails .show-more button {
        padding: 0 30px 8px 30px;
        font-size: 20px;
    }

    #productDetails .preview {
        margin-bottom: 50px;
    }

    #productDetails .details h2 {
        font-size: 25px;
    }

    #productDetails .best-seller-badge {
        font-size: 16px;
    }

    #productDetails .short-description {
        font-size: 18px;
    }

    #productDetails .color-title {
        font-size: 20px;
    }

    #productDetails .color-options {
        margin-top: 20px;
    }

    #productDetails .size {
        margin-top: 20px;
    }

    #productDetails .size-title {
        font-size: 20px;
    }

    #productDetails .add-to-cart {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #productDetails .add-to-cart button {
        font-size: 20px;
    }

    #productDetails .delivery {
        padding-top: 40px;
        font-size: 18px;
    }
    
    #productDetails .delivery-title {
        font-size: 20px;
    }
    
    #productDetails .detailed-description h3 {
        font-size: 30px;
    }
    
    #productDetails .detailed-description .description {
        font-size: 20px;
    }

}

@media (max-width: 767px) and (min-width: 640px) { 
    #productDetails .wrapper {
        display: block;
    }

    #productDetails .images {
        gap: 20px 20px;
    }

    #productDetails .preview {
        margin-bottom: 50px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) { 

    #productDetails .wrapper {
        gap: 40px;
    }

    #productDetails .preview {
        grid-column: span 3 / span 3;
    }

    #productDetails .details {
        grid-column: span 3 / span 3;
    }

    #productDetails .images {
        gap: 20px 20px;
    }

    #productDetails .show-more {
        margin-top: 20px;
    }
    
    #productDetails .show-more button {
        font-size: 25px;
    }
}
@media (max-width: 1023px) and (min-width: 768px) { 

    #productDetails .wrapper {
        gap: 40px;
    }

    #productDetails .preview {
        grid-column: span 3 / span 3;
    }

    #productDetails .details {
        grid-column: span 3 / span 3;
    }

    #productDetails .images {
        gap: 20px 20px;
    }

    #productDetails .show-more {
        margin-top: 20px;
    }
    
    #productDetails .show-more button {
        font-size: 25px;
    }
}

@media (max-width: 1280px) and (min-width: 1024px) {

    #productDetails .wrapper {
        gap: 40px;
    }

    #productDetails .preview {
        grid-column: span 3 / span 3;
    }

    #productDetails .details {
        grid-column: span 3 / span 3;
    }

    #productDetails .images {
        gap: 20px 20px;
    }

    #productDetails .show-more {
        margin-top: 20px;
    }
    
    #productDetails .show-more button {
        font-size: 25px;
    }
}

@media (max-width: 1535px) and (min-width: 1281px) {

    #productDetails .wrapper {
        gap: 40px;
    }

    #productDetails .preview {
        grid-column: span 3 / span 3;
    }

    #productDetails .details {
        grid-column: span 3 / span 3;
    }
}